@font-face {
    font-family: "Cairo";
    src: local("Cairo"), url(../fonts/Cairo-Medium.ttf) format("truetype");
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Cairo';
}

body {
    background-color: #f4f4f4;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h4,
p {
    color: #002C6C;
}

.event-cover-con {
    background-image: url(../assets/bg.jpg);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
    height: 443px;
    padding: 64px 116px;
}

.bg-orange {
    background-color: #F26334;
}

.add_regist_code_prodect {
    width: 100%;
    height: 40px;
}

.add_regist_code_prodect_tow {
    width: 50px;
    height: 40px;
}

.register-btn a {
    color: #FFFF;
    padding: 10px;
    border-radius: 0px;
}

label {
    color: #002C6C;
    font-weight: 600;
}

.form-control {
    border-radius: 0%;
    border-color: #002C6C;
    border-width: 1px;
    margin-top: 5px;
}

.btn {
    border-radius: 0%;
    margin-right: 10px;
    margin-top: 5px;
}

.fieldset_legend_regist {
    border-width: 2px;
    text-align: center;
}

.fieldset_legend_regist span {
    color: #002C6C;
    font-size: 20px;
}

.style-chooser .vs__search::placeholder,
.style-chooser .vs__dropdown-toggle,
.style-chooser .vs__dropdown-menu {
    color: #394066;
    border-radius: 0%;
    border-width: 1px;
    border-color: #002C6C;
    margin-top: 5px;
    padding-bottom: 8px;
}