@font-face {
    font-family: "Cairo";
    src: local("Cairo"), url(../fonts/Cairo-Medium.ttf) format("truetype");
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Cairo';
}

body {
    background-color: #f4f4f4;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.event-cover-con {
    background-image: url(../assets/bg.jpg);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
    height: 443px;
    padding: 64px 116px;
}

.bg-orange {
    background-color: #F26334;
}

.add_regist_code_prodect {
    width: 50px;
    height: 40px;
}

.register-btn a {
    color: #FFFF;
    padding: 10px;
    border-radius: 10px;
}